body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* mobile header*/
.adress-in-header {
  /* display: none; */
}
.button-for-mobile-menu {
  display: block;
  border: none;
  cursor: pointer;
  background-color: inherit;
}
@media (min-width: 768px) {
  .button-for-mobile-menu {
    display: none;
  }
}
.navposition {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
.headerposition {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}
.sectointwo {
}
.modal-menu-for-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #ffffff;
  padding: 72px 0 40px 16px;
  display: flex;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-direction: column;
  justify-content: space-between;
}
.button-close-for-mobile-menu {
  position: absolute;
  box-shadow: none;
  padding: 0;
  font-size: revert-layer;
  background-color: #e7e9fc;
  cursor: pointer;
  top: 24px;
  right: 24px;
  display: flex;
  width: 24px;
  min-height: 24px;
  border-radius: 50%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-mobile-menu {
  display: flex;
}
.studio-underline-mobile-menu {
  font-weight: 700;
  font-size: 36px;

  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.mobile-menu_navigation {
  font-weight: 700;
  font-size: 36px;

  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-menu-ul-position {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-menu-adress-position {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 48px;
  gap: 24px;
}
.address-phone-menu-mobile {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}
.address-email-menu-mobile {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.social-icons-mobile-menu {
  display: flex;
  gap: 40px;
  width: 280px;
}
/*modal-for-mobile-menu*/

/* .is-open-mobile-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
} */
/* tablet plus desctop*/
@media (min-width: 768px) {
  .studiounderline .head_navigation {
    display: none;
  }
}
.web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.studio {
  color: #2e2f42;
}
.studiotwo {
  color: #f4f4fd;
}
.head_navigation {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head_navigation:hover {
  color: #404bbf;
}
.head_navigation:focus {
  color: #404bbf;
}
.header_address {
  font-style: normal;
}
.address:hover {
  color: #404bbf;
}
.address:focus {
  color: #404bbf;
}

.address {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  font-weight: bold;
  color: #ffffff;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  /* display: flex;
  justify-content: center; */
  width: 216px;
  margin: 0 auto;
}
.sectiontitleposition {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/bg.png);
  margin: 0 auto;
  background-color: #2e2f42;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
}

.button_section_one {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button_section_one:hover {
  background-color: #404bbf;
}
.button_section_one:focus {
  background-color: #404bbf;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: center;
}

.sectointhree {
  background-color: #f4f4fd;
  /* max-width: 320px; */
}
.mainfooter {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footertext {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 288px;
  /* font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  max-width: 264px;
  text-align: start; */
}
.title_section_three {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.description_sectiom_two {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
  font-weight: 500;
}
.our_team_li_section_three {
  background-color: #ffffff;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.subtitle_sectoin_three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.description_sectiom_three {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.subtitle_sectoin_four {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.subtitle-third-sectoin-four {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: left;
}
.description_sectiom_four {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* padding-left: 16px; */
  color: #434455;
  text-align: left;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.border {
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  padding: 32px 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}

.headerulposition {
  display: none;
  /* display: flex; */
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media (min-width: 768px) {
  .headerulposition {
    display: flex;
  }
}
.headeradressposition {
  display: none;
  /* display: flex; */
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 768px) {
  .headeradressposition {
    display: flex;
  }
}

.ulsectiontwoposition {
  display: flex;
  gap: 72px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .ulsectiontwoposition {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
}

.lisectiontwoposition {
  max-width: 356px;
  text-align: start;
  /* width: calc((100% - 72px) / 4); */
}
@media screen and (min-width: 768px) {
  .lisectiontwopositio {
    width: calc((100% - 24px) / 2);
  }
}

@media (min-resolution: 2x) {
  .sectiontitleposition {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/mobile/bg@2x.png');
  }
}
@media screen and (min-width: 768px) {
  .sectiontitleposition {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/bg.png);
  }
  @media (min-resolution: 2x) {
    .sectiontitleposition {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet/bg@2x.png);
    }
  }
}
.sectionpadding {
  padding: 96px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.sectionthreeposition {
  display: flex;
  justify-content: center;
  gap: 72px;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .sectionthreeposition {
    gap: 24px;
  }
}

.sectionfourposition {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* gap: 24px; */
  justify-content: center;
  row-gap: 48px;
}

@media (min-width: 768px) {
  .sectionfourposition {
    gap: 24px;
    flex-direction: row;
  }
}

.main {
  flex-grow: 1;
}

.webfooter {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.borderheader {
  padding: 16px 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.sectionone {
  padding: 72px 0;
}
.subtitle_sectoin_two {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .subtitle_sectoin_two {
    text-align: left;
  }
}

.lipositionsecfour {
  width: 288px;
  /* width: calc((100% - 48px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.style-for-text-hidden:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.ourteamposition {
  padding: 32px 0;
}
address {
  font-style: normal;
}

.studiounderline::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.studiounderline {
  font-weight: 500;
  font-size: 16px;
  color: #404bbf;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studiounderline:hover {
  color: #404bbf;
}
.imgsectiontwo {
  background-color: #f4f4fd;
  /* display: flex; */
  justify-content: center;
  height: 112px;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  display: none;
}
.styleiconsectionthree {
  width: 40px;
  height: 40px;
}
.styleiconlist {
  display: flex;
  gap: 24px;
  margin: 8px auto 0px;
  justify-content: center;
}
.stylelinksectionthree {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stylelinksectionthree:hover {
  background-color: #404bbf;
}
.stylelinksectionthree:focus {
  background-color: #404bbf;
}
.svgicon {
  fill: #f4f4fd;
  display: flex;
  /* width: 24px;
  height: 24px; */
}
.footerdivs {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.sotialfooter {
  /* margin-right: 120px; */
}
.social-icons {
  margin: 0 auto;
  width: 208px;
  display: flex;
  gap: 16px;
}

.sizeicons {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sizeicons:hover {
  background-color: #31d0aa;
}
.style-for-text {
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.forhidden {
  position: relative;
  overflow: hidden;
}

.descriptionforimg {
  background-color: #4d5ae5;
  padding: 32px;
  color: #f4f4fd;

  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 300ms;
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.style-for-text-hidden:hover .descriptionforimg {
  transform: translateY(0);
}
.syle-adress-email {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svgiconfooter {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svgiconfooter:hover {
  background-color: #31d0aa;
}
.svgiconfooter:focus {
  background-color: #31d0aa;
}
.style-for-logo {
  /* align-items: start; */
  margin-bottom: 72px;
  /* margin-right: 120px; */
}

/*modal styles*/
.modal-section {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #8e8f99;
  opacity: 0;
  visibility: hidden;
  display: flex;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(46, 47, 66, 0.4);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.style-for-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fcfcfc;
  min-width: 288px;
  min-height: 584px;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media (min-width: 768px) {
  .style-for-modal {
    min-width: 408px;
  }
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  box-shadow: none;
  width: 24px;
  min-height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
}
.close-button-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  border: none;
  border-color: #404bbf;
  background-color: #404bbf;

  fill: #ffffff;
}

.name-for-form-in-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form {
  display: block;
}
.contact-box {
  margin-bottom: 8px;
}
.form-label {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: #8e8f99;
}
.form-filling {
  position: relative;
}
.form-input {
  background-color: transparent;
  padding-left: 38px;
  color: #8e8f99;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus-within {
  outline: #4d5ae5;
  border-color: #4d5ae5;
}
.form-filling-svg {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-filling:focus-within > svg {
  fill: #4d5ae5;
}
.textarea-box {
  margin-bottom: 16px;
}
.modal-textarea {
  background-color: transparent;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus-within {
  border-color: #4d5ae5;
}
.radiobutton-checkbox {
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}
.visually-hidden {
  position: absolute;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 16px;
  height: 16px;
  appearance: none;
}
.visually-hidden:active {
  background-color: #37b61e;
}
.span-for-svg {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.visually-hidden:checked + .form-label > .span-for-svg {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.privacy-link {
  text-decoration: underline;
  color: #4d5ae5;
}
.button-in-form {
  display: block;
  padding: 16px 32px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  min-width: 169px;
  min-height: 56px;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*styles for footer form*/

.form-footer-box {
  text-align: start;
  margin-left: 0;
}
.form-in-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.form-footer-label {
}
.form-footer-input {
  color: #ffffff;
  padding: 8px 0 8px 16px;
  border: 1px solid white;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
}

.form-footer-input::placeholder {
  color: white;
}
.form-footer-input:focus-within {
  outline: #31d0aa;
  border-color: #31d0aa;
}
.button-in-footer {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
}
.button-in-footer:hover,
.button-in-footer:focus {
  background-color: #31d0aa;
}
.img-in-footer-button {
  fill: #ffffff;
  margin-left: 16px;
  background-color: transparent;
}

.general {
  display: none;
}
.container-social-logo-footer {
  margin-bottom: 72px;
}
/*tablet styles*/

@media screen and (min-width: 768px) {
  .style-for-text {
    text-align: start;
  }
  .footertext {
    width: 264px;
  }
  .webfooter {
    justify-content: start;
  }
  .form-footer-input {
    width: 264px;
  }
  .form-in-footer {
    gap: 24px;
    flex-direction: row;
  }
  .container-social-logo-footer {
    display: flex;
    gap: 24px;
  }
  .container {
    min-width: 768px;
  }
  .style-for-logo {
    margin-bottom: 0;
  }
}
