body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.studio {
  color: #2e2f42;
}
.studiotwo {
  color: #f4f4fd;
}
.head_navigation {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}
.head_navigation:hover {
  color: #404bbf;
}
.head_navigation:focus {
  color: #404bbf;
}
.header_address {
  font-style: normal;
}
.address:hover {
  color: #404bbf;
}
.address:focus {
  color: #404bbf;
}

.address {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.main_title {
  background-color: #2e2f42;
}
.title {
  font-weight: bold;
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  display: flex;
  justify-content: center;
  max-width: 496px;
  margin: 0 auto;
}
.sectiontitleposition {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button_section_one {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 48px;
}
.button_section_one:hover {
  background-color: #404bbf;
}
.button_section_one:focus {
  background-color: #404bbf;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: center;
}

.sectointhree {
  background-color: #f4f4fd;
}
.mainfooter {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footertext {
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  max-width: 264px;
  text-align: start;
}
.title_section_three {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.description_sectiom_two {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}
.our_team_li_section_three {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.subtitle_sectoin_three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.description_sectiom_three {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.subtitle_sectoin_four {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.subtitle-third-sectoin-four {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: left;
}
.description_sectiom_four {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}
.border {
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  padding: 32px 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.headerposition {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 0 15px;
  align-items: center;
}
.navposition {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.headerulposition {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.headeradressposition {
  display: flex;
  gap: 40px;
}

.ulsectiontwoposition {
  display: flex;
  gap: 24px;
  /* margin: 120px; */
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.lisectiontwoposition {
  text-align: start;
  width: calc((100% - 72px) / 4);
}

.sectionpadding {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.sectionthreeposition {
  display: flex;
  gap: 24px;
}
.sectionfourposition {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  row-gap: 48px;
}

.main {
  flex-grow: 1;
}

.webfooter {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  display: inline-block;
  justify-content: start;
}
.borderheader {
  border-bottom: 1px solid #e7e9fc;
}
.sectionone {
  padding: 188px 0;
}
.subtitle_sectoin_two {
  margin-bottom: 8px;
}
.lipositionsecfour {
  width: calc((100% - 48px) / 3);
}
.ourteamposition {
  padding: 32px 0;
}
address {
  font-style: normal;
}
.sectiontitleposition {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background\ images.jpg);
}
.studiounderline::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.studiounderline {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
}
.studiounderline:hover {
  color: #404bbf;
}
.imgsectiontwo {
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  height: 112px;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}
.styleiconsectionthree {
  width: 40px;
  height: 40px;
}
.styleiconlist {
  display: flex;
  gap: 24px;
  margin: 8px auto 0px;
  justify-content: center;
}
.stylelinksectionthree {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.stylelinksectionthree:hover {
  background-color: #404bbf;
}

.svgicon {
  fill: #ffffff;
}
.footerdivs {
  display: flex;
  gap: 120px;
}
.social-icons {
  display: flex;
  gap: 16px;
}
.sizeicons {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sizeicons:hover {
  background-color: #31d0aa;
}
.style-for-text {
  color: #ffffff;
  margin-bottom: 16px;
}
